/* Getting Started */
.icons-home-201459498, .icons-getting-started {
  background-image: url(icon-getting-started.svg);
}

/* Community */
.icons-home-201459478, .icons-community {
  background-image: url(icon-community.svg);
}

/* Troubleshooting */
.icons-home-201459500, .icons-troubleshooting {
  background-image: url(icon-troubleshooting.svg);
}

/* Webinars */
.icons-home-200811507, .icons-webinars {
  background-image: url(icon-webinars.svg);
}

/* Professional Services */
.icons-home-201638428, .icons-professional-services {
  background-image: url(icon-professional-services.svg);
}

/* Idea Submission */
.icons-home-200806348, .icons-idea-submission {
  background-image: url(icon-idea-submission2.svg);
}

/* Best Practices */
.icons-best-practices {
  background-image: url(icon-best-practices.svg);
}

/* FAQ */
.icons-faq {
  background-image: url(icon-faq.svg);
}

/* Video Library */
.icons-video-library {
  background-image: url(icon-video-library.svg);
}

/* Videos */
.icons-videos {
  background-image: url(icon-videos.svg);
}
