<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/app-route/app-route.html">
<link rel="import" href="../../lib/iron-ajax/iron-ajax.html">
<link rel="import" href="../../lib/iron-media-query/iron-media-query.html">
<link rel="import" href="../../lib/paper-spinner/paper-spinner.html">
<link rel="import" href="../redux-store.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="app-articles">

  <template>

    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;
        padding: 0;
      }
      .title {
        @apply --paper-font-title;
        padding-bottom: 20px;
      }
      .item .article {
        width: 90%;
        @apply --paper-font-body2;
      }
      .item[wide-layout] .article {
        max-width: 840px;
      }
      @media only screen and (max-width: 900px) {
        .article {
          width: 100%;
        }
      }
      #app-spinner {
        position: absolute;
        left: 50%;
        top: 33%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: visibility 0.6s, all 0.6s;
        -moz-transition: visibility 0.6s, all 0.6s;
        -ms-transition: visibility 0.6s, all 0.6s;
        -o-transition: visibility 0.6s, all 0.6s;
        transition: visibility 0.6s, all 0.6s;
      }

      paper-spinner.blue {
        height: 100px;
        width: 100px;
        --paper-spinner-stroke-width: 2px;
        --paper-spinner-layer-1-color: var(--acquisio-blue-100);
        --paper-spinner-layer-2-color: var(--acquisio-blue-900);
        --paper-spinner-layer-3-color: var(--acquisio-blue-100);
        --paper-spinner-layer-4-color: var(--acquisio-blue-900);
        --paper-spinner-color: var(--acquisio-blue-100);
      }

      @media only screen and (max-width: 800px) {
        #app-spinner {
          position: absolute;
          top: 30%;
          left: 50%;
          -webkit-transform: translateY(-30%) translateX(-50%);
          -moz-transform: translateY(-30%) translateX(-50%);
          -ms-transform: translateY(-30%) translateX(-50%);
          -o-transform: translateY(-30%) translateX(-50%);
          transform: translateY(-30%) translateX(-50%);
        }
      }
    </style>

    <app-route
        route="{{subRoute}}"
        pattern="/:id"
        data="{{articleData}}">
    </app-route>
    
    <iron-ajax id="articleFeed"
           url="[[servicesApiRoot]]/articles/{{articleId}}"
           method="GET"
           auto
           last-response="{{article}}"
           loading="{{articleLoading}}"
           on-response="_onArticleResult"></iron-ajax>
    
    <iron-media-query query="(min-width: 900px)" query-matches="{{wide}}"></iron-media-query>

    <div id="app-spinner" hidden$="{{!articleLoading}}">
      <paper-spinner class="blue" active></paper-spinner>
    </div>

    <div class="card layout vertical item" wide-layout$="{{wide}}">
      <div class="title self-center" hidden$="{{articleLoading}}">{{article.title}}</div>
      <div id="articleContent" hidden$="{{articleLoading}}"></div>
    </div>
  </template>

  <script>
    class AppArticles extends ReduxBehavior(Polymer.Element) {

      static get is() { return 'app-articles' }

      static get properties() {
        return  {
          appRoot: {
            type: String,
            statePath: 'appRoot'
          },
          imagesServiceUrl: {
            type: String,
            statePath: 'imagesServiceUrl'
          },
          subRoute: {
            type: Object,
            value: function() {
              return {};
            },
            observer: '_subRouteChanged'
          },
          articleData: {
            type: Object,
            value: function() {
              return {};
            },
            observer: '_articleDataChanged'
          },
          articleId: {
            type: String,
            value: '',
            reflectToAttribute: true
          },
          servicesApiRoot: {
            type: String,
            statePath: 'servicesApiRoot'
          },
          article: {
            type: Object,
            value: function() {
              return {
                title: '',
                article_Text__c: ''
              };
            }
          },
          articleContent: {
            type: String,
            value: ''
          },
          articleLoading: {
            type: Boolean,
            value: true
          },
          isLoading: {
            type: Boolean,
            value: true
          }
        }
      }
      static get observers() { 
        return [
          '_articleDataIdChanged(articleData.id)',
          '_articleContentChanged(article.article_Text__c)'
        ]
      }
      _subRouteChanged(n,o) {
        //console.log(n);
      }
      _articleContentChanged(c) {
        // console.log('articleContentChanged', c);
        if (!!c == true) {
          this.$.articleContent.innerHTML = c.replaceAll('~', '#')
                                             .replaceAll('href="/', `href="${this.appRoot}`)
                                             .replaceAll('article\\?id=', 'articles/')
                                             .replaceAll('src="/', `src="${this.imagesServiceUrl}/`);
        } else {
          this.$.articleContent.innerHTML = '';
        }
      }
      _articleDataChanged(n,o) {
        //console.log(n);
      }
      _articleDataIdChanged(n){
        // console.log(n);
        this.articleId = n;
      }
      _onArticleResult(a) {
        //console.log(a);
      }

    }
    customElements.define(AppArticles.is, AppArticles);

  </script>

</dom-module>
