<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/neon-animation/neon-animated-pages.html">
<link rel="import" href="../redux-store.html">
<link rel="import" href="./dynamo/dynamo-plan-chooser.html">
<link rel="import" href="./dynamo/dynamo-package-chooser.html">
<link rel="import" href="./dynamo/dynamo-stepper.html">
<link rel="import" href="./dynamo/dynamo-complete.html">
<link rel="import" href="./dynamo/dynamo-product-filter.html">
<link rel="import" href="./dynamo/dynamo-payment-capture.html">

<dom-module id="app-dynamo">
  <template>
    <style>
      :host {
        display: block;
      }
      .navigation::before {
        content: '\00a0<\00a0\00a0'
      }
      .navigation::after {
        content: '\00a0\00a0'
      }
      .navigation {
        background-color: #fff;
        border: solid 1px var(--app-secondary-color);
        color: var(--app-secondary-color);
        margin: 20px;
      }
    </style>
    
    <neon-animated-pages id="selectorPages" selected="[[selected]]">
      <dynamo-package-chooser id="selectorPage" class="selector-page"></dynamo-package-chooser>
      <dynamo-plan-chooser on-dynamo-plan-item-selected="planSelected" default-plan="[[selectedPackageDetails.defaultPlan]]" items="[[selectedPackagePlans]]"></dynamo-plan-chooser>
      <dynamo-payment-capture></dynamo-payment-capture>
      <dynamo-product-filter></dynamo-product-filter>
      <dynamo-stepper id="stepperPage" currency="[[currency]]" selected-option="{{selectedOption}}" class="stepper-page"></dynamo-stepper>
      <dynamo-complete id="completePage" class="complete-page"></dynamo-complete>
    </neon-animated-pages>
    <div class="nav-controls">
      <paper-button class="navigation" hidden$="[[isStartPage]]" on-tap="dynamoStepperReset">Start Over</paper-button>
    </div>
  </template>

  <script>
    Polymer({
      is: 'app-dynamo',
      behaviors: [ ReduxBehavior ],
      properties: {
        selected: {
          type: Number,
          value: 0
        },
        isStartPage: {
          type: Boolean,
          computed: '_isStartPage(selected)'
        },
        selectedOption: {
          type: String,
          value: function() {
            return '';
          },
          notify: true
        },
        selectedPackage: {
          type: Number,
          statePath: 'selectedPackage'
        },
        selectedPackageDetails: {
          type: Object,
          statePath: 'selectedPackageDetails',
          value: function() {
            return {};
          }
        },
        selectedPackagePlans: {
          type: Array,
          statePath: 'selectedPackagePlans',
          value: function() {
            return [];
          }
        },
        _isReady: {
          type: Boolean,
          value: false
        },
        queryParameters: {
          type: Object,
          value: function() {
            return {
              currency: 'EUR'
            };
          }
        },
        currency: {
          type: String,
          computed: 'getCurrency(queryParameters)'
        }
      },

      observers: [
        '_onIsReadyChanged(_isReady)'
      ],

      _isStartPage: function(selected) {
          console.log(`selected: ${selected}`);
          return selected == 0;
      },
        
      listeners: {
        'dynamo-package-chooser-selected': 'dynamoSelectorSelected',
        'dynamo-stepper-reset': 'dynamoStepperReset',
        'paper-stepper-completed': 'stepperCompleted'
      },

      actions: {
        selectPackage: function(id) {
          return {
            type: 'PACKAGE_SELECTED',
            id: id
          }
        },
        selectPlan: function(id) {
          return {
            type: 'PLAN_SELECTED',
            id: id
          }
        }
      },

      planSelected: function(e) {
        //console.log('Plan SELECTED ' + e.detail.id);
        this.dispatch('selectPlan', e.detail.id);
        this.selected += 1;
        console.log('plan selected handled in app');
      },

      computeFriendCount: function(friends) {
        return friends.length;
      },

      stepperCompleted: function() {
          //console.log('Process completed!');
          this.complete = true;
          this.selected = 2;
      },

      getCurrency: function(q) {
        if (!!!q) return 'EUR';
        return q.currency || 'EUR';
      },

      dynamoStepperReset: function(e) {
        this.selected = 0;
      },

      dynamoSelectorSelected: function(e) {
        var detail = e.detail;
        this.selectedOption = detail.selected;
        this.dispatch('selectPackage', detail.selected);
        this.notifyPath('selectedOption');
        this.selected = 1;
        this.notifyPath('selected');
        /*var ov = this.$.stepperPage.$.stepper.vertical;
        this.$.stepperPage.$.stepper.vertical = !(ov);
        this.$.stepperPage.$.stepper.vertical = ov;
        window.setTimeout(function() {
          this.$.stepperPage.$.stepper.progress();
        }.bind(this), 250);*/
        //console.log(e.detail);
      },

      _onIsReadyChanged: function(isready) {
        if (isready) {
          //console.log('Is ready is now TRUE');
        }
      },

      created: function() {
        //console.log(this.localName + '#' + this.id + ' was created');
      },

      ready: function() {
        //console.log(this.localName + '#' + this.id + ' has local DOM initialized');
      },

      attached: function() {
        //console.log(this.localName + '#' + this.id + ' was attached');
        this._isReady = true;

      },

      detached: function() {
        //console.log(this.localName + '#' + this.id + ' was detached');
      }

    });
  </script>
</dom-module>
