<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../lib/nvd3-elements/nvd3-line.html">
<link rel="import" href="../../lib/vaadin-material-theme/vaadin-grid.html">
<link rel="import" href="../../lib/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../../lib/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../lib/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../lib/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../lib/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../lib/toggle-icon/toggle-icon.html">
<link rel="import" href="../../lib/paper-card/paper-card.html">
<link rel="import" href="../../lib/paper-item/paper-item.html">
<link rel="import" href="../redux-store.html">
<link rel="import" href="../redux-async.html">
<link rel="import" href="./dynamo/dynamo-plan-chooser.html">
<link rel="import" href="./dynamo/dynamo-package-chooser.html">
<link rel="import" href="./dynamo/dynamo-stepper.html">
<link rel="import" href="./dynamo/dynamo-complete.html">
<link rel="import" href="./dynamo/dynamo-product-filter.html">
<link rel="import" href="./dynamo/dynamo-payment-capture.html">
<link rel="import" href="../../elements/dashboard-stats-card.html">
<link rel="import" href="../../elements/app-logger.html">

<dom-module id="app-dynamo-dashboard">
  <template>
    <style>
      :focus {
          outline: none;
      }
      :host {
        display: block;
        --paper-item-body-secondary: {
          font-size: 12px;
          color: #fefefe;
        }
      }
      
      paper-card.single paper-item-body {
        --paper-item-body-secondary: {
          font-size: 12px;
          color: #737373;
        }
      }

      .container {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
      }
      .dashboard {
        grid-column: 2;
      }
      .dashboard > div {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        align-items: flex-start;
      }
      .row {
        color: var(--app-subtitle-color);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .row :not(:first-child) {
        padding-left: 10px;
      }
      .heading {
        width: 100%;
        padding: 10px 0 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--app-title-color, #424242);
      }
      .subheading {
        text-transform: uppercase;
        color: var(--app-subtitle-color);
      }
      .wide {
        grid-column: 1 / -1;
      }
      .card-header paper-item-body {
        padding: 0px;
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid #ddd;
        background-color: #424242;
        color: #ffffff;
      }
      paper-card.rising {
        background-color: #F9FFF8;
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 36%, rgba(249,255,248,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 36%,rgba(249,255,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 36%,rgba(249,255,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9fff8',GradientType=0 );
      }
      paper-card.falling {
        background-color: rgb(255, 239, 239);
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 36%, rgba(253,237,237,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 36%,rgba(253,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 36%,rgba(253,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdeded',GradientType=0 );
      }
      iron-icon.rising {
        color: green;
        height: 16px;
      }
      iron-icon.falling {
        color: maroon;
        height: 16px;
      }
      .card-icon {
        height: 64px;
        width: 64px;
        text-align: center;
      }
      paper-card.single {
        text-align: center;
      }
      .card-stat {
        font-size: 40px;
      }
      .card-stat::before {
        content: ' ';
        padding-left: 33px;
      }
      .centered-cell {
        --vaadin-grid-cell: {
          text-align: center;
        }
      }
      @media screen and (max-width: 1139px) {
        .container {
          grid-template-columns: repeat(4, 1fr);
        }
      }
      @media screen and (max-width: 950px) {
        .container {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media screen and (max-width: 400px) {
        .container {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .thumbnail {
        margin: 5px;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        border: 2px solid #CCC;
      }

      vaadin-grid, vaadin-grid.active, vaadin-grid.focused {
        border: 0;
        outline: none;
        --vaadin-grid-cell: {
          /* border: 0;*/ 
          outline: none;
        };
        --vaadin-grid-table: {
          outline: none;
        };
      }
      vaadin-grid-table {
        outline: none;
      }

      .product-item {
        padding: 5px;
      }

      .card-content-full paper-item {
        display: grid;
        grid-template-columns: 100px repeat(2, minmax(50px, 1fr));
      }

      .product-image {
        grid-row: 1 / 10;
      }

      .product-title {
        grid-column: 2 / -1;
      }

      .product-info {
        color: #ccc;
        font-size: 0.8em;
      }

      .product-rank {
        border: 1px solid #ccc;
        color: #424242;
        border-radius: 3px;
        display: inline;
        padding: 2px 8px;
      }

      .header-menu {
        position: absolute;
        right: 0;
        top: 0;
        --paper-menu-button-content: {
          color: #424242;
        }
      }
      .h4, h4 {
          font-size: 17px;
      }
      .h4 span, h4 span {
        vertical-align: text-top;
        padding-left: 10px;
      }
      .h4, .h5, .h6, h4, h5, h6 {
          margin-top: 11.5px;
          margin-bottom: 11.5px;
      }
      .grey-text, .page-header h1 i {
          color: var(--app-title-color);
      }
      .blue {
        --stat-card-background-color: #42A5F5;
      }

      .green {
        --stat-card-background-color: #69B264;
      }

      .pink {
        --stat-card-background-color: #DD3E72;
      }

      .orange {
        --stat-card-background-color: #FFA500;
      }

      .green-red {
        --toggle-icon-checked: {
          color: var(--paper-green-500);
        };
        --toggle-icon: {
          color: var(--paper-red-500);
        };
      }
    </style>

    <div class="container">
      <div class="wide grey-text" style="display: grid; grid-template-columns: 1fr auto; align-items: center;">
        <h4>
          <iron-icon icon="icons:dashboard"></iron-icon><span>Performance summary and KPI's</span>
        </h4>
        <div>
          <toggle-icon
            icon="icons:timeline"
            icon-checked="icons:timeline"
            aanimation="flip-horizontal"
            rotation="360"
            checked="{{showCharts}}"
            aria-label="toggle charts"
            tooltip="toggle charts"
            class="green-red">
          </toggle-icon>
        </div>
      </div>
      <template is="dom-repeat" items="[[stats]]">
          <dashboard-stats-card hide-chart$="[[!showCharts]]" class$="single [[item.color]]" title="[[item.title]]" subtitle="[[item.subtitle]]" trend="[[item.trend]]" stats="[[item.items]]" trendtip="[[item.trendtip]]" grid-data="[[_getSeriesGraphData(item.graph)]]"></dashboard-stats-card>
      </template>

      <h4 class="wide grey-text">
        <iron-icon icon="icons:dashboard"></iron-icon><span>Product performance</span>
      </h4>
      <!-- <paper-card class="wide">
          <div class="card-content-full">
              <template is="dom-repeat" items="[[inventory]]">
                <paper-item class="product-item">
                  <div class="product-image"><img class="thumbnail" src$="[[item.image]]"></div>
                  <div class="product-title">[[item.productName]]</div>
                  <div class="product-info">[[item.sales]] Sale(s)</div>
                  <div class="product-info"><div class="product-rank">Ranked #[[item.rank]]</div></div>
                  <div class="product-info">$[[item.revenue]] in generated revenue.</div>
                </paper-item>
              </template>
          </div>
      </paper-card> -->

      <paper-card class="wide" style="padding: 18px;">
        <vaadin-grid items="[[inventory]]">
            <vaadin-grid-column flex-grow="0">
                <template class="header">&nbsp;</template>
                <template><div class="product-image"><img class="thumbnail" src$="[[item.image]]"></div></template>
              </vaadin-grid-column>
              <vaadin-grid-column flex-grow="1">
                  <template class="header">product</template>
                  <template>
                    <div style="display: grid;">
                      <div class="product-title">[[item.productName]]</div>
                      <div class="product-info"><div class="product-rank">Ranked #[[item.rank]]</div></div>
                    </div>
                  </template>
              </vaadin-grid-column>
              <vaadin-grid-column flex-grow="0">
                  <template class="header">views</template>
                  <template>[[item.impressions]]</template>
              </vaadin-grid-column>
              <vaadin-grid-column flex-grow="0">
                  <template class="header">clicks</template>
                  <template>[[item.clicks]]</template>
              </vaadin-grid-column>
              <vaadin-grid-column flex-grow="0">
                  <template class="header">sales</template>
                  <template>[[item.sales]]</template>
              </vaadin-grid-column>
              <vaadin-grid-column flex-grow="0">
                  <template class="header">revenue</template>
                  <template>$[[item.revenue]]</template>
              </vaadin-grid-column>
        </vaadin-grid>
      </paper-card>

    </div>
    
  </template>

  <script>
    Polymer({
      is: 'app-dynamo-dashboard',
      behaviors: [ ReduxBehavior, AsyncActionsBehavior, AppLogger ],
      properties: {
        _isReady: {
          type: Boolean,
          value: false
        },
        showCharts: {
          type: Boolean,
          value: true
        },
        data: {
          type: Array,
          statePath: 'dynamo.graphs.summary.data'
        },
        stats: {
          type: Object,
          statePath: 'dynamo.seriesData.stats'
        },
        dataLabels: {
          type: Object,
          statePath: 'dynamo.graphs.summary.labels'
        },
        inventory: {
          type: Array,
          statePath: 'dynamo.inventory'
        },
        seriesData: {
          type: Object,
          statePath: 'dynamo.seriesData'
        },
        queryParameters: {
          type: Object,
          value: function() {
            return {
              currency: 'EUR'
            };
          }
        },
        currency: {
          type: String,
          computed: 'getCurrency(queryParameters)'
        },
        periodStart: {
          type: Date,
          value: function() {
            return new Date("2017-09-01T00:00:00");
          }
        },
        periodEnd: {
          type: Date,
          value: function() {
            return new Date("2017-09-30T23:59:59");
          }
        },
        periodString: {
          type: String,
          computed: 'formatDateRange(periodStart, periodEnd)'
        }
      },

      observers: [
        '_onIsReadyChanged(_isReady)',
        '_seriesDataChanged(seriesData)'
      ],

      listeners: {
      },

      actions: {
      },

      formatDateRange: function(start, end) {
        var sm = new moment(start);
        var em = new moment(end);
        var sf = 'MMM Do';
        var ef = 'MMM Do, YYYY';
        if (sm.year() !== em.year()) sf = ef;
        return `${sm.format(sf)} - ${em.format(ef)}`;
      },

      _getSeriesGraphData: function(name) {
        var data = Array.apply([], this.seriesData.series.find(function(e) { return e.name === name; }).data);
        var datax = Array.apply([], this.seriesData.x);
        data.unshift(name);
        datax.unshift('x');
        var result = {
          x: 'x',
          columns: [
              datax,
              data
          ],
          types: {},
          colors: {}
        };
        result.types[name] = 'area';
        result.colors[name] = 'rgba(255,255,255,0.50)';
        return result;
      },

      getCurrency: function(q) {
        if (!!!q) return 'EUR';
        return q.currency || 'EUR';
      },

      _onIsReadyChanged: function(isready) {
        if (isready) {
          //console.log('Is ready is now TRUE');
        }
      },

      _seriesDataChanged: function(seriesData) {
        this._log(seriesData);
      },

      loadGraphs: function() {
        // let username = this.$.user.value;
        this.dispatch('getDynamoData', 'summary');
      },

      created: function() {
        this._log(this.localName + '#' + this.id + ' was created');
      },

      ready: function() {
        this._log(this.localName + '#' + this.id + ' has local DOM initialized');
      },

      attached: function() {
        this._log(this.localName + '#' + this.id + ' was attached');
        this._isReady = true;
        this.loadGraphs();
      },

      detached: function() {
        this._log(this.localName + '#' + this.id + ' was detached');
      },

    });
  </script>
</dom-module>