<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/iron-ajax/iron-ajax.html">
<link rel="import" href="../../lib/paper-dialog/paper-dialog.html">
<link rel="import" href="../../lib/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../lib/marked-element/marked-element.html">
<link rel="import" href="../../lib/iron-pages/iron-pages.html">
<link rel="import" href="../../lib/paper-search-input/paper-search-input.html">
<link rel="import" href="../../lib/terminal-text/terminal-text.html">
<link rel="import" href="../../lib/paper-card/paper-card.html">
<link rel="import" href="../../lib/wistia-video/wistia-video-list.html">
<link rel="import" href="../../lib/paper-button/paper-button.html">
<link rel="import" href="../../lib/paper-listbox/paper-listbox.html">
<link rel="import" href="../../lib/faq-item/faq-item.html">
<link rel="import" href="../redux-store.html">

<dom-module id="app-home">

  <template>
    <link href="/images/iconsets/icons.css" rel="stylesheet" />
    <style include="app-grid-style iron-flex iron-flex-alignment">
      :host {
        display: block;
        padding: 0;
      }
      .panelcard {
        @apply --layout-vertical;
        @apply --layout-center;
        padding: 20px;
      }
      .clickable {
        cursor: pointer;
      }
      .card {
        @apply --layout-vertical;
        @apply --layout-center;
        background: url('/images/Motion_1_Duotone.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 16px;
        margin: 0;
        background-color: #fff;
      }
      .box {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        border-radius: 5px;
        margin: 10px;
      }
      .knowledge-panel {
        color: #fff;
        @apply --layout-self-center;
        width: 50%;
        min-width: 550px;
      }
      .knowledge-caption {
        @apply --paper-font-body2;
        padding: 1em 0;
      }
      h1 {
        @apply --paper-font-display2;
        /*text-align: center;*/
        width: 100%;
        /*font-size: 22px;
        margin: 16px 0;*/
        /*color: #333;*/
      }
      paper-search-input {
        width: 100%;
      }
      terminal-text {
        --terminal-text-text-color0: #fff;
        --terminal-text-pre-text-color0: #fff;
        --terminal-text-cursor-color0: #fff;
        font-size: 1em;
      }
      .icon-row {
        margin: auto;
        width: 75%;
      }
      .col-md-4 {
        width: 323px;
        height: 244px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 20px;
        float: left;
      }
      .category {
        text-align: center;
      }
      .category:hover .icons-home {
        background-repeat: no-repeat;
        -webkit-filter: saturate(150%);
        -moz-filter: saturate(150%);
        -o-filter: saturate(150%);
        filter: saturate(150%);
        transform: scale(1.1);
      }
      .icons-home {
        background-repeat: no-repeat;
        background-size: 140px;
        width: 140px;
        height: 140px;
        display: block;
        margin: 0 auto;
        -webkit-transition: width 0.4s, height 0.4s, background-color 0.4s, transform 0.4s;
        -moz-transition: width 0.4s, height 0.4s, background-color 0.4s, transform 0.4s;
        -ms-transition: width 0.4s, height 0.4s, background-color 0.4s, transform 0.4s;
        -o-transition: width 0.4s, height 0.4s, background-color 0.4s, transform 0.4s;
        transition: width 0.4s, height 0.4s, background-color 0.4s, transform 0.4s;
      }
      .titles-home a {
        @apply --paper-font-headline;
        text-decoration: none;
        color: var(--app-secondary-color);
      }
      .icons-home svg path {
        fill: black !important;
      }
      video { 
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
        background-size: cover;
        transition: 1s opacity;
      }
      .videos-list {
        padding: 10px;
        display: block;
        width: 360px;
        height: auto;
        padding-top: 30px;
      }

      paper-card.first {
          border-top: solid 4px #34b6e4;
          -ms-border-radius: 0;
          border-radius: 0;
          padding-bottom: 10px;
          width: 360px;
      }

      paper-card.second {
          border-top: solid 4px #0c4c8a;
          -ms-border-radius: 0;
          border-radius: 0;
          padding-bottom: 10px;
          width: 360px;
      }

      paper-card.third {
          border-top: solid 4px #fe7701;
          -ms-border-radius: 0;
          border-radius: 0;
          padding-bottom: 10px;
          width: 360px;
      }
            
      .box-title {
          @apply --paper-font-title;
          padding-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid lightgrey;
          color: #6a737b;
          background-color: lightgrey;
          width: 350px;
      }

      paper-card.first .box-title {
        background-color: #8DD3EB;
        color: #156480;
      }

      paper-card.second .box-title {
        background-color: #7AA4CC;
        /*background-color: #53708B;*/
        color: #041C33;
        /*color: #C9E5FF;*/
      }

      paper-card.third .box-title {
        background-color: #FEC898;
        color: #803C01;
      }

      wistia-video-list {
          width: 360px;
      }  
      /* paper-dialog {
        position: fixed;
        top: 64px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        height: calc(100vh);
      } */

      /* paper-dialog-scrollable {
        @apply --layout-flex;
      }

      paper-dialog-scrollable #scrollable {
        max-height: 100%;
      } */

      @media only screen and (max-width: 800px) {
        paper-search-input {
          position: fixed;
          bottom: 0;
          left: 0;
          z-index: 1;
        }
        .knowledge-panel {
          width: 100%;
          min-width: 0;
        }
        .panelcard {
          margin-bottom: 80px;
        }
      }
    </style>

    <iron-ajax id="videoSearchFeed"
              url="[[serviceApiRoot]]/articles/search"
              method="GET"
              params="[[_getParams(searchValue,4)]]"
              last-response="{{videoSearchResult}}"
              loading="{{videosLoading}}"
              on-request="_clearVideos"
              on-response="_onVideoSearchResult"></iron-ajax>
    <iron-ajax id="articleSearchFeed"
              url="[[serviceApiRoot]]/articles/search"
              method="GET"
              params="[[_getParams(searchValue,0)]]"
              last-response="{{articleResult}}"
              loading="{{articlesLoading}}"
              on-request="_clearArticles"
              on-response="_onArticleSearchResult"></iron-ajax>
    <iron-ajax id="faqSearchFeed"
              url="[[serviceApiRoot]]/articles/search"
              method="GET"
              params="[[_getParams(searchValue,2)]]"
              last-response="{{faqResult}}"
              loading="{{faqsLoading}}"
              on-request="_clearFaqs"
              on-response="_onFaqSearchResult"></iron-ajax>
    <iron-ajax id="articleService"
              url="[[serviceApiRoot]]/articles/{{articleNumber}}"
              method="GET"
              last-response="{{currentArticle}}"
              loading="{{articleLoading}}"
              on-request="_clearArticle"
              on-response="_onLoadArticle"></iron-ajax>

    <iron-pages role="main" selected="[[section]]" attr-for-selected="name">

      <div name="home">
        <!-- 
          @ Search Box
        -->
        <div class="card">
          <div id="particles-js" style="position: absolute;"></div>
          <div class="knowledge-panel">
            <h1>How can we help you today?</h1>
            <paper-search-input id="knowledgeSearch" scale="{{searchBoxScale}}" value="{{searchValue}}" on-value-changed="_onSearchValueChanged" on-value-cleared="_clearSearchResults">
              <terminal-text 
                clear-delay="1000"
                back-delay="10"
                blink-speed="250"
                cursor="│"
                delay="10"
                prefix="{{prefixText}}" 
                text="{{terminalTextItems}}" 
                value="{{terminalOutput}}"></terminal-text>
            </paper-search-input>
            <p class="knowledge-caption">
              Welcome to Acquisio Help Center, your source for getting started, fast-tracking your way to expert-user status, and everything else we think might help you along the way. Check out our FAQs and video library for the most common questions/how-to’s, or simply “search” to find what you’re looking for.
            </p>
          </div>
        </div>

        <!-- 
          @ Icon Grid
        -->
        <div class="panelcard layout vertical center" hidden$="[[isSearching(searchValue)]]">
          <div class="layout horizontal center-justified wrap">

            <!-- Getting Started -->
            <div class="box col-md-4">
              <div class="category">
                  <a href="#/articles/000002271"><i class="icons-home icons-getting-started"></i></a>
                  <div class="titles-home">
                      <a href="#/articles/000002271">Getting Started</a>
                      <p>New to Acquisio? Click here for a quick start.</p>
                  </div>
              </div>
            </div>

            <!-- FAQ -->
            <div class="box col-md-4">
              <div class="category">
                  <a href="#/faqs/"><i class="icons-home icons-faq"></i></a>
                  <div class="titles-home">
                      <a href="#/faqs/">FAQ</a>
                      <p>Browse our Frequently Asked Questions.</p>
                  </div>
              </div>
            </div>

            <!-- Video Library -->
            <div class="box col-md-4">
              <div class="category">
                  <a href="#/videos/"><i class="icons-home icons-video-library"></i></a>
                  <div class="titles-home">
                      <a href="#/videos/">Video Library</a>
                      <p>Browse and watch our many awesome videos from our library.</p>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!--
          @ Search Results
          -->
        <div class="panelcard layout vertical center" hidden$="[[!isSearching(searchValue)]]">
          <div class="layout horizontal center-justified wrap">
              
                <div class="videos-list">
                    <paper-card class="first">
                        <div class="layout vertical">
                            <div class="box-title fit">Videos</div>
                            <div style="padding: 10px; color: #6a737b;" hidden$="[[!videosLoading]]">Loading...</div>
                            <wistia-video-list hidden$="[[videosLoading]]" videos='[[videoResults]]' max-items="4"></wistia-video-list>
                            <div style="padding: 10px; color: #6a737b;" hidden$="[[!isEmpty(videoResults,videosLoading)]]">No videos found</div>
                            <div class="layout horizontal end-justified">
                              <div class="box-footer" hidden>
                                <paper-button raised hidden>More</paper-button>
                              </div>
                            </div>
                        </div>
                    </paper-card>
                </div>
                
                <div class="videos-list">
                    <paper-card class="second">
                        <div class="layout vertical">
                            <div class="box-title">Frequently Asked Questions</div>
                            <div style="padding: 10px; color: #6a737b;" hidden$="[[!faqsLoading]]">Loading...</div>
                            <div style="padding: 10px;" hidden$="[[isEmpty(faqResult,faqsLoading)]]">
                                <paper-listbox id="faqListbox" items="[[faqResult]]">
                                    <template is="dom-repeat" items="[[getItems(faqResult,faqLimit)]]">
                                        <faq-item class="clickable" question="[[item.title]]" category="[[item.category]]" last-modified="[[item.lastModifiedDate]]">
                                            <marked-element markdown="[[item.content]]">
                                            </marked-element>
                                        </faq-item>
                                    </template>
                                </paper-listbox>
                            </div>
                            <div style="padding: 10px; color: #6a737b;" hidden$="[[!isEmpty(faqResult,faqsLoading)]]">No FAQs found</div>
                            <div class="layout horizontal end-justified fit-bottom">
                                <div class="box-footer">
                                  <paper-button raised on-click="showLessFaqs" hidden$="[[!showLess(defaultFaqLimit,faqLimit)]]">Less</paper-button>
                                  <paper-button raised on-click="addMoreFaqs" hidden$="[[!showMore(faqResult,faqLimit)]]">More</paper-button>
                                </div>
                            </div>
                        </div>
                    </paper-card>
                </div>

                <div class="videos-list">
                    <paper-card class="third">
                        <div class="layout vertical">
                            <div class="box-title">Articles</div>
                            <div style="padding: 10px; color: #6a737b;" hidden$="[[!articlesLoading]]">Loading...</div>
                            <div style="padding: 10px;" hidden$="[[isEmpty(articleResult,articlesLoading)]]">
                                <paper-listbox id="articleListbox" items="[[articleResult]]">
                                    <template is="dom-repeat" items="[[getItems(articleResult,articleLimit)]]">
                                        <paper-item role="listitem">
                                            <iron-icon style="padding-right: 16px;" icon="mdi:file-document-box"></iron-icon>
                                            <paper-item-body two-line>
                                                <div style="white-space: normal;"><a href="[[appRoot]]articles/[[item.articleNumber]]">[[item.title]]</a></div>
                                                <div secondary>Last Modified: [[formatHuman(item.lastModifiedDate)]]</div>
                                            </paper-item-body>
                                        </paper-item>
                                    </template>
                                </paper-listbox>
                            </div>
                            <div style="padding: 10px; color: #6a737b;" hidden$="[[!isEmpty(articleResult,articlesLoading)]]">No articles found</div>
                            <div class="layout horizontal end-justified">
                                <paper-button raised on-click="showLessArticles" hidden$="[[!showLess(defaultArticleLimit,articleLimit)]]">Less</paper-button>
                                <paper-button raised on-click="addMoreArticles" hidden$="[[!showMore(articleResult,articleLimit)]]">More</paper-button>
                            </div>
                        </div>
                    </paper-card>
                </div>
          </div>
        </div>
      </div>

      <!-- <div name="article">
        <h2>{{sanitizedArticle.Title}}</h2>
        <marked-element id="dialogMarkdown" markdown="{{sanitizedArticle.article_Text__c}}">
            <div class="markdown-html"></div>
        </marked-element>
        <div class="buttons">
          <paper-button raised on-tap="_closeArticle">Close</paper-button>
        </div>
      </div> -->
    <div id="dialogs">
      <paper-dialog class="fullscreen" id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation" not-with-backdrop>
        <h2>{{sanitizedArticle.title}}</h2>
        <paper-dialog-scrollable>
          This is a test text
            <marked-element id="dialogMarkdown" markdown="{{sanitizedArticle.article_Text__c}}">
                <div class="markdown-html"></div>
            </marked-element>
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-dismiss>Close</paper-button>
        </div>
      </paper-dialog>
    </div>

    </iron-pages>
<!--    <paper-dialog always-on-top class="fullscreen" id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
        <h2>{{sanitizedArticle.Title}}</h2>
        <paper-dialog-scrollable>
            <marked-element id="dialogMarkdown" markdown="{{sanitizedArticle.Article_Text__c}}">
                <div class="markdown-html"></div>
            </marked-element>
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-dismiss>Close</paper-button>
        </div>
    </paper-dialog> -->

  </template>

  <script>

    Polymer({

      is: 'app-home',
      behaviors: [ReduxBehavior],
      properties: {
        serviceApiRoot: {
          type: String,
          statePath: 'servicesApiRoot'
        },
        appRoot: {
          type: String,
          statePath: 'appRoot'
        },
        hideIcons: {
          type: Boolean,
          value: false,
          notify: true
        },
        hideSearchResults: {
          type: Boolean,
          value: true,
          notify: true,
        },
        articleNumber: {
          type: String
        },
        articleLimit: { 
          type: Number,
          value: 5
        },
        faqLimit: { 
          type: Number,
          value: 5
        },
        videoLimit: { 
          type: Number,
          value: 4
        },
        defaultArticleLimit: { 
          type: Number,
          value: 5
        },
        defaultFaqLimit: { 
          type: Number,
          value: 5
        },
        defaultVideoLimit: { 
          type: Number,
          value: 4
        },
        currentArticle: {
          type: Object,
          value: function() {
            return {};
          }
        },
        sanitizedArticle: {
          type: Object,
          value: function() {
            return {};
          }
        },
        searchValue: {
          type: String,
          value: ''
        },
        searchBoxScale: {
          type: String,
          value: "50",
          notify: true
        },
        terminalTextItems: {
          type: Array,
          value: function() {
            return [
              'Search^250.^150.^150.^1000',
              'Link an MCC^1000',
              'Custom Reporting^1000',
              'Acquisio Social^1000',
              'BBM^1000'
            ];
          }
        },
        prefixText: {
          type: String,
          value: '',
          notify: true
        },
        terminalOutput: {
          type: String,
          value: '',
          notify: true
        },
        videoResults: {
          type: Array,
          value: []
        },
        videoSearchResult: {
          type: Array,
          value: []
        },
        section: {
          type: String,
          value: 'home'
        },
        videosLoading: {
          type: Boolean,
          value: false
        },
        articlesLoading: {
          type: Boolean,
          value: false
        },
        faqsLoading: {
          type: Boolean,
          value: false
        },
        articleLoading: {
          type: Boolean,
          value: false
        }
      },
      observers: [
        '_searchResultsChanged(videoResults.*, faqResult.*, articleResult.*)'
      ],
      _searchResultsChanged: function(v,f,a) {
        var total = v.value.length + f.value.length + a.value.length;
        console.log("Total Search Results: " + total);
        if (total > 0) {
          this.hideIcons = true;
          this.hideSearchResults = false;
          return;
        }
        this.hideIcons = false;
        this.hideSearchResults = true;
      },
      expandPath: function(html) {
        var patt = /~/igm;
        return html.replace(patt, '#');
      },
      _clearSearchResults: function(e) {
        console.log(e);
        this._clearAllSearchResults();
      },
      _onSearchValueChanged: function(e) {
        console.log('Changed: ', e);
        // TODO: Must work on this.
      },
      _getParams: function(s, i) {
        var o = { 
          keyword: s,
          type: i 
        };
        return o;
      },
      isEmpty: function(arr, loading) {
        return !loading && _.isEmpty(arr);
      },
      getItems: function(l, c) {
        return l.slice(0, c);
      },
      addMoreArticles: function() {
        this.articleLimit += 5;
      },
      showLessArticles: function() {
        var x = this.articleLimit - 5;
        this.articleLimit = Math.max(this.defaultArticleLimit, x);
      },
      addMoreFaqs: function() {
        this.faqLimit += 5;
      },
      showLessFaqs: function() {
        var x = this.faqLimit - 5;
        this.faqLimit = Math.max(this.defaultFaqLimit, x);
      },
      showMore: function(l, c) {
        // list is empty return false
        // list count <= limit return false
        if (!!!l) return false;
        if (l.length <= c) return false;
        return true;
      },
      showLess: function(i, c) {
        // list is empty return false
        // list count <= limit return false
        if (c > i) return true;
        return false;
      },
      _onLoadArticle: function() {
        var sa = this.currentArticle;
        var at = this.expandPath(sa.article_Text__c);
        sa.article_Text__c = at;
        this.sanitizedArticle = sa;
        this.$.dialogMarkdown.render();
        this.$.animated.open();
      },
      _clearVideos: function() {
        this.set('videoResults', []);
      },
      _clearFaqs: function() {
        this.set('faqResult', []);
      },
      _clearArticle: function() {
      },
      _clearArticles: function() {
        this.set('articleResult', []);
      },
      _clearAllSearchResults: function() {
        this._clearVideos();
        this._clearFaqs();
        this._clearArticles();
      },
      _onFaqSearchResult: function(a) {
        // do something...
      },
      _onArticleSearchResult: function(a) {
        // do something...
      },
      openArticle: function(i) {
        this.$.articleListbox.selected = -1;
        this.$.faqListbox.selected = -1;
        if (!!!i || !!!i.model || !!!i.model.item) return;
        console.log(i.model.item);
        this.articleNumber = i.model.item.articleNumber;
        this.$.articleService.generateRequest();
        // this.section = 'article';
      },
      _onVideoSearchResult: function(a, b, c) {
          this.videoResults = _.map(this.videoSearchResult, function(vsr) { return { videoId: vsr.videoId }; });
          this.hasVideoResults = this.videoResults.length > 0;
      },
      _resetLimits: function() {
        this.articleLimit = this.defaultArticleLimit;
        this.faqLimit = this.defaultFaqLimit;
        this.videoLimit = this.defaultVideoLimit;
      },
      formatHuman: function(d) {
        return moment(d).fromNow();
      },
      _closeArticle: function() {
        this.section = 'home';
      },
      attach: function() {
        // do nothing for now.
      },
      isSearching: function(sv) {
        if (sv.trim().length > 0) return true;
        return false;
      },
      ready: function() {
        var app = this;
        //this.$.animated.positionTarget = document.querySelector('body');
        document.addEventListener("paper-search-input-execute", function(e) {
          app.$.videoSearchFeed.generateRequest();
          app.$.faqSearchFeed.generateRequest();
          app.$.articleSearchFeed.generateRequest();
          app.$.articleListbox.selected = -1;
          app.$.faqListbox.selected = -1;
          app._resetLimits();
        });
        this.async(function() {
          if (this.searchBoxScale < 50) {
            this.searchBoxScale = "100";
          }
        }, 1000);
        var dialogs = this.$.dialogs;
        dialogs.remove();
        document.querySelector('body').appendChild(dialogs);
      }
    });

  </script>

</dom-module>
