<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../redux-store.html">

<dom-module id="app-view404">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    Oops you hit a 404. <a href="[[appRoot]]">Head back to home.</a>
  </template>

  <script>
    Polymer({
      is: 'app-view404',
      behaviors: [ReduxBehavior],
      properties: {
        appRoot: {
          type: String,
          statePath: 'appRoot'
        }
      }
    });
  </script>
</dom-module>
