<link rel="import" href="../../lib/polymer/polymer-element.html">
<link rel="import" href="../redux-store.html">

<dom-module id="app-view404">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    Oops you hit a 404. <a href="[[appRoot]]">Head back to home.</a>
  </template>

  <script>
    class App404 extends ReduxBehavior(Polymer.Element) {
      static get is() {return 'app-view404'; }
      static get properties() {
        return {
          appRoot: {
            type: String,
            statePath: 'appRoot'
          }
        }
      }
    }
    customElements.define(App404.is, App404);
  </script>
</dom-module>
