<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../redux-store.html">
<link rel="import" href="../redux-async.html">
<link rel="import" href="../notification-bar.html">

<dom-module id="app-view1">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <notification-bar></notification-bar>
        <label>Username:
            <input id="user" type="text">
        </label>
        <button on-tap="signUp">Sign Up!</button>
    </template>
    <script>
        Polymer({
            is: 'app-view1',
            behaviors: [ ReduxBehavior, AsyncActionsBehavior ],
            signUp: function() {
                let username = this.$.user.value;
                this.dispatch('signUpWithTimeout', username);
            }
        });
    </script>
</dom-module>
