<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../../lib/neon-animation/animations/slide-from-right-animation.html">
<link rel="import" href="../../../lib/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../../lib/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../lib/stripe-form/stripe-form.html">
<link rel="import" href="../../../lib/iron-input/iron-input.html">
<link rel="import" href="../../../lib/stripe-form/stripe-card-preview.html">
<link rel="stylesheets" href="stripe.css">
<script src="//js.stripe.com/v3/"></script>
<!-- <script src="//js.stripe.com/v3/"></script> -->

<dom-module id="dynamo-payment-capture">
  <template>
    <style>
      
      :host {
        display: block;
        padding: 10px 20px;
      }
      .card-container {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr minmax(350px, 500px) 1fr;
      }
      .card {
        padding: 30px;
        background-color: #fff;
        border-radius: var(--app-box-border-radius, 10px);
        box-shadow: var(--app-box-shadow-0) !important; /*0 1px 8px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.397)), 0 0px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.397)), 0 0 20px 0 hsla(0, 0%, 0%, 0.397) !important;*/
        grid-column: 2;
        /* height: 300px; */
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 1fr;
      }
      paper-range-slider {
        width: 100%;
      }
      .title {
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--app-title-color, #424242);
      }
      .subtitle {
        padding: 10px;
        text-align: center;
        color: var(--app-subtitle-color, #626262);
      }

      .slider-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .label {
          font-weight: bold;
      }

      .slider-group .label {
        grid-row: 1;
        grid-column: 1 / -1;
        padding-bottom: 30px;
        color: #474747;
      }

      .slider-group .label:not(.first) {
        padding-top: 36px;
      }

      .slider-group .label .first {
        padding-top: 10px;
      }

      .start {
        text-align: left;
        padding-left: 15px;
        grid-row: 3;
      }
      .end {
        text-align: right;
        padding-right: 15px;
        grid-row: 3;
      }

      .slider-group paper-slider,
      .slider-group paper-range-slider {
        grid-row: 2;
        grid-column: 1 / -1;
        width: 100%;
      }

      form {
        width: 100%;
        margin: 20px auto;
      }

      label {
        height: 35px;
        position: relative;
        color: #8798AB;
        display: block;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      label > span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-weight: 300;
        line-height: 32px;
        color: #8798AB;
        border-bottom: 1px solid #586A82;
        transition: border-bottom-color 200ms ease-in-out;
        cursor: text;
        pointer-events: none;
      }

      label > span span {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0% 50%;
        transition: transform 200ms ease-in-out;
        cursor: text;
      }

      label .field.is-focused + span span,
      label .field:not(.is-empty) + span span {
        transform: scale(0.68) translateY(-36px);
        cursor: default;
      }

      label .field.is-focused + span {
        border-bottom-color: #294484;
      }

      .field {
        background: transparent;
        font-weight: 300;
        border: 0;
        color: #424242;
        outline: none;
        cursor: text;
        display: block;
        width: 100%;
        line-height: 32px;
        padding-bottom: 3px;
        transition: opacity 200ms ease-in-out;
      }

      .field::-webkit-input-placeholder { color: #8898AA; }
      .field::-moz-placeholder { color: #8898AA; }

      /* IE doesn't show placeholders when empty+focused */
      .field:-ms-input-placeholder { color: #424770; }

      .field.is-empty:not(.is-focused) {
        opacity: 0;
      }

      button {
        float: left;
        display: block;
        background: #34D08C;
        color: white;
        border-radius: 2px;
        border: 0;
        margin-top: 20px;
        font-size: 19px;
        font-weight: 400;
        width: 100%;
        height: 47px;
        line-height: 45px;
        outline: none;
      }

      button:focus {
        background: #24B47E;
      }

      button:active {
        background: #159570;
      }

      .outcome {
        float: left;
        width: 100%;
        padding-top: 8px;
        min-height: 20px;
        text-align: center;
      }

      .success, .error {
        display: none;
        font-size: 15px;
      }

      .success.visible, .error.visible {
        display: inline;
      }

      .error {
        color: #E4584C;
      }

      .success {
        color: #34D08C;
      }

      .success .token {
        font-weight: 500;
        font-size: 15px;
      }
    </style>
    
    <div class="title">Almost there</div>
    <div class="subtitle">Add a credit or debit card to setup the billing process</div>

    <div class="card-container">
      <div class="card">
        <template is="dom-if" if="[[cardToken]]">
          <stripe-card-preview on-stripe-card-preview-removed="removeCard" card-type="[[cardType]]" last-four="[[lastFour]]" expiry-month="[[expiryMonth]]" expiry-year="[[expiryYear]]"></stripe-card-preview>
        </template>
          <form id="stripeForm" hidden$="[[cardToken]]">
            <paper-input value="{{cardName}}" label="Name"></paper-input>
            <paper-input value="{{phoneNumber}}" label="Phone number" type="tel"></paper-input>
            <label>
              <div id="card-element" class="field is-empty"></div>
              <span><span>Credit or debit card</span></span>
            </label>
            <button type="submit">Add</button>
            <div class="outcome">
              <div class="error" role="alert"></div>
              <div class="success">
                Success! Your Stripe token is <span class="token"></span>
              </div>
            </div>
          </form>
      </div>
    </div>

  </template>

  <script>
    Polymer({
      is: 'dynamo-payment-capture',
      behaviors: [Polymer.NeonAnimatableBehavior, ReduxBehavior],
      properties: {
        cardToken: {
          type: String
        },
        cardId: {
          type: String
        },
        lastFour: {
          type: String
        },
        expiryMonth: {
          type: Number
        },
        expiryYear: {
          type: Number
        },
        cardType: {
          type: String
        },
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'slide-from-right-animation',
                node: this
              },
              'exit': {
                name: 'fade-out-animation',
                node: this
              }
            }
          }
        },
        stripePublishableKey: {
          type: String,
          statePath: 'stripePublishableKey'
        },
        selected: {
          type: Number,
          value: 0
        },
        completedSteps: {
          type: Array,
          value: function() {
            return [];
          }
        },
        onlineFilterMin: {
          type: Number,
          value: 50
        },
        onlineFilterMax: {
          type: Number,
          value: 2000
        },
        retailFilterMin: {
          type: Number,
          value: 50
        },
        retailFilterMax: {
          type: Number,
          value: 4000
        },
        minimumOnlineBudget: {
          type: Number,
          value: 199
        },
        maximumOnlineBudget: {
          type: Number,
          value: 1499
        },
        minimumRetailBudget: {
          type: Number,
          value: 199
        },
        maximumRetailBudget: {
          type: Number,
          value: 1499
        },
        monthlyRetailBudget: {
          type: Number,
          value: 500
        },
        monthlyOnlineBudget: {
          type: Number,
          value: 500
        },
        promotion: {
          type: Number,
          value: 50
        },
        totalBudgetLabel: {
          type: String,
          computed: 'getTotalBudgetLabel(monthlyOnlineBudget, monthlyRetailBudget)'
        },
        onlineBudgetLabel: {
          type: String,
          computed: 'formatMoney(monthlyOnlineBudget)'
        },
        retailBudgetLabel: {
          type: String,
          computed: 'formatMoney(monthlyRetailBudget)'
        },
        promotionLabel: {
          type: String,
          computed: 'formatMoney(promotion)'
        },
        monthlyBudgetWithPromotLabel: {
          type: String,
          computed: 'formatMoney(totalBudgetWithPromotion)'
        },
        onlineFilterLabel: {
          type: String,
          computed: 'getFilteredProductsLabel(onlineFilterMin, onlineFilterMax)'
        },
        retailFilterLabel: {
          type: String,
          computed: 'getFilteredProductsLabel(retailFilterMin, retailFilterMax)'
        },
        monthlyBudget: {
          type: Number,
          computed: 'getMonthlyBudget(monthlyOnlineBudget, monthlyRetailBudget)'
        },
        totalBudgetWithPromotion: {
            type: Number,
            computed: 'getMonthlyBudgetWithPromo(monthlyOnlineBudget, monthlyRetailBudget, promotion)'
        },
        monthlyBudgetLabel: {
          type: String,
          computed: 'getMonthlyBudgetLabel(monthlyRetailBudget, monthlyOnlineBudget, monthlyBudget)'
        },
        _isReady: {
          type: Boolean,
          value: false
        },
        currentStep: {
            type: Number
        },
        selectedOption: {
            type: String,
            value: function() {
                return '';
            }
        },
        isRetail: {
            type: Boolean,
            computed: '_computeIsRetail(selectedOption)'
        },
        isOnline: {
            type: Boolean,
            computed: '_computeIsOnline(selectedOption)'
        },
        showInfo: {
            type: Boolean,
            computed: '_isInfoReady(currentStep)'
        },
        complete: {
            type: Boolean,
            value: false
        },
        card: {
          type: Object,
          value: function() {
            return {};
          }
        },
        cardName: {
          type: String,
          value: ''
        },
        phoneNumber: {
          type: String,
          value: ''
        }
      },

      observers: [
        '_onIsReadyChanged(_isReady)'
      ],

      listeners: {
          'paper-stepper-completed': 'stepperCompleted'
      },

      removeCard: function() {
        this.card.clear();
        this.cardId = null;
        this.lastFour = null;
        this.expiryMonth = null;
        this.expiryYear = null;
        this.cardToken = null;
        this.cardName = '';
        this.phoneNumber = '';
      },

      goBack: function() {
          this.$.stepper.reset();
          this.fire('dynamo-stepper-reset', {});
      },

      stepperCompleted: function() {
        //console.log('Process completed!');
        this.completedSteps = [
          {
            description: 'Payment Processed'
          },
          {
            description: 'AdWords Account Created'
          },
          {
            description: 'Merchant Center Account Created'
          },
          {
            description: 'Product Feed Transformed and Uploaded'
          },
          {
            description: 'AdWords Campaigns Created'
          },
          {
            description: 'Optimization Enabled'
          }
        ];
        this.notifyPath('completedSteps');
      },

      _isInfoReady: function(step) {
          //console.log(`on step: ${step}`);
          return step >= 0;
      },

      _computeIsRetail: function(option) {
          return option === 'retail' || option === 'both';
      },

      _computeIsOnline: function(option) {
          return option === 'online' || option === 'both';
      },

      onTapItem1: function() {
        this.fire('request-change-page', {
          path: 'detail/1',
          animation: 'forward'
        });
      },

      startStepper: function() {
        this.$.stepper.progress();
      },

      toggleVerical: function() {
        this.$.stepper.vertical = !this.$.stepper.vertical;
      },

      _onIsReadyChanged: function(isready) {
        if (isready) {
          //console.log('Is ready is now TRUE');
          //var stepper = this.$.stepper;
          /*this.async(function() {
            console.log(stepper);
            stepper.progress();
          });*/
        }
      },

      getTotalBudgetLabel: function(online, retail) {
        return this.formatMoney(online + retail);
      },

      getFilteredProductsLabel: function(min, max) {
        var a = this.formatMoney(min);
        var b = max >= 4000 ? "No Limit" : this.formatMoney(max);
        if (min <= 0 && max < 4000) {
          return `all products below ${b}`;
        }
        if (min > 0 && max >= 4000) {
          return `all product above ${a}`;
        }
        if (min <= 0 && max >= 4000) {
          return 'all products';
        }
        return `products between ${a} and ${b}`;
      },

      getMonthlyBudget: function(Retail, Online) {
        return Retail + Online;
      },
      getMonthlyBudgetWithPromo: function(monthlyOnlineBudget, monthlyRetailBudget, promotion) {
          return monthlyOnlineBudget + monthlyRetailBudget - promotion;
      },
      getMonthlyBudgetLabel: function(Retail, Online, total) {
        return `Set Budget ${this.formatMoney(Online)} (eCommerce) ${this.formatMoney(Retail)} (Local) : Total ${this.formatMoney(total)}`;
        if (val > 0) {
          return `Monthly Budget : ${this.monthlyBudgetStr}`;
        } else {
          return `Set Monthly Budget`;
        }
      },

      formatMoney: function(val) {
        return formatter.format(val);
      },

      created: function() {
        //console.log(this.localName + '#' + this.id + ' was created');
      },

      ready: function() {
        //console.log(this.localName + '#' + this.id + ' has local DOM initialized');
      },

      attached: function() {
        //console.log(this.localName + '#' + this.id + ' was attached');
        this._isReady = true;
        var stripe = Stripe('pk_test_4yXPdlu4RWjHnY5U6xobOc6x');
        var elements = stripe.elements();

        var card = elements.create('card', {
          iconStyle: 'solid',
          hidePostalCode: false,
          style: {
            base: {
              iconColor: '#8898AA',
              color: 'black',
              lineHeight: '36px',
              fontWeight: 300,
              fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
              fontSize: '19px',

              '::placeholder': {
                color: '#8898AA',
              },
            },
            invalid: {
              iconColor: '#e85746',
              color: '#e85746',
            }
          },
          classes: {
            focus: 'is-focused',
            empty: 'is-empty',
          },
        });
        this.card = card;
        card.mount('#card-element');
        var inputs = document.querySelectorAll('input.field');
        Array.prototype.forEach.call(inputs, function(input) {
          input.addEventListener('focus', function() {
            input.classList.add('is-focused');
          });
          input.addEventListener('blur', function() {
            input.classList.remove('is-focused');
          });
          input.addEventListener('keyup', function() {
            if (input.value.length === 0) {
              input.classList.add('is-empty');
            } else {
              input.classList.remove('is-empty');
            }
          });
        });
        var t = this;
        function setOutcome(result) {
          var successElement = document.querySelector('.success');
          var errorElement = document.querySelector('.error');
          successElement.classList.remove('visible');
          errorElement.classList.remove('visible');
          if (result.token) {
            // Use the token to create a charge or a customer
            // https://stripe.com/docs/charges
            var token = result.token;
            var c = result.token.card;
            t.cardToken = result.token.id;
            t.cardId = c.id;
            t.lastFour = c.last4;
            t.expiryMonth = c.exp_month;
            t.expiryYear = c.exp_year;
            t.cardType = c.brand.toLowerCase();
            successElement.querySelector('.token').textContent = result.token.id;
            successElement.classList.add('visible');
          } else if (result.error) {
            errorElement.textContent = result.error.message;
            errorElement.classList.add('visible');
          }
        }

        card.on('change', function(event) {
          setOutcome(event);
        }.bind(t));

        document.querySelector('form').addEventListener('submit', function(e) {
          e.preventDefault();
          var form = document.querySelector('form');
          var extraDetails = {
            name: t.cardName,
          };
          stripe.createToken(card, extraDetails).then(setOutcome);
        }.bind(t));
      },

      detached: function() {
        //console.log(this.localName + '#' + this.id + ' was detached');
      },

    });
  </script>
</dom-module>
