<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="../../../lib/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../../lib/neon-animation/animations/slide-from-right-animation.html">
<link rel="import" href="../../../lib/neon-animation/animations/fade-out-animation.html">
<link rel="stylesheets" href="stripe.css">

<dom-module id="dynamo-stepper">
  <template>
    <style>

      :host {
        display: block;
        /* --app-page-logo: url('/images/google-favicon-logo-3BBD7/Google_-G-_Logo.svg'); */
        --app-page-logo: url('/images/acquisio-logo.svg');
        --paper-stepper-horizontal-opened-height: 75vh;
        --paper-stepper-vertical-max-height: 75vh;
        --icon-w: 48px;
        /* --paper-vertical-step-max-height: 80vh; */
        --paper-stepper-vertical-responsive-width: 700px;
        padding: 10px 20px;
      }
      .stepper-container {
          display: grid;
          grid-template-columns: 1fr minmax(850px, 1200px) 1fr;
      }
      .main-content {
          grid-column: 2;
      }
      paper-range-slider{
        width: 100%;
      }
      .slider {
        width: 100%;
        padding-top: 30px;
      }
      .slider-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .label {
          font-weight: bold;
      }

      .slider-group .label {
        grid-row: 1;
        grid-column: 1 / -1;
        padding-bottom: 30px;
        color: #474747;
      }

      .slider-group .label:not(.first) {
        padding-top: 36px;
      }

      .slider-group .label .first {
        padding-top: 10px;
      }

      .start {
        text-align: left;
        grid-row: 3;
      }
      .end {
        text-align: right;
        grid-row: 3;
      }

      .slider-group paper-slider,
      .slider-group paper-range-slider {
        grid-row: 2;
        grid-column: 1 / -1;
        width: 100%;
      }

      .payment-grid {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr repeat(2, 350px) 1fr;
        grid-gap: 30px;
      }

      .payment-grid address-form {
          grid-column: 2;
      }

      .payment-grid cc-form {
          grid-column: 3;
      }

      @media only screen and (max-width: 800px) {
        .payment-grid {
          grid-template-columns: 1fr 350px 1fr;
        }
        .payment-grid address-form {
          grid-column: 2;
        }

        .payment-grid cc-form {
          grid-column: 2;
        }
      }

      img.logo {
        src: ''
      }

      .grid-2col {
          display: grid;
          grid-template-columns: auto 1fr;
      }

      .left-col {
          vertical-align: middle;
          align-self: center;
          align-items: center;
          height: 100%;
                    /* padding-right: 10px; */
      }

      .left-col paper-button {
          height: 100%;          
      }
      
      .left-col div {
          vertical-align: middle;
          align-self: center;
          padding-top: 2px;
      }

      .right-col {
          text-align: right;
          display: grid;
          grid-template-columns: 1fr auto;
      }

      .right-col div {
          padding-right: 10px;
      }

      .info {
          background-color: var(--app-primary-color);
          color: #fff;
          /* width: 100%;*/
          padding: 10px;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .subtitle {
          font-size: 10pt;
          font-weight: normal;
      }

      .budget-group {
          display: grid;
          grid-template-columns: 1fr 1px 1fr;
          grid-gap: 20px;
      }

      .budget-group .verticalborder {
          border: rgba(0, 0, 0, 0.12) 1px solid;
      }

      .title-icon {
        color: rgba(0,0,0,0.1);
        width: var(--icon-w);
        height: var(--icon-w);
      }
      .section-title {
          margin-top: -10px;
          color: #474747;
      }
      .title-group {
          display: grid;
          grid-template-columns: 1fr auto;
      }

    </style>
    <div class="stepper-container">
        <div class="main-content">
        <template is="dom-if" if="[[showInfo]]">
            <div class="info grid-2col">
                <div class="left-col">
                    <paper-button on-tap="goBack">
                        <iron-icon icon="icons:arrow-back"></iron-icon><div>&nbsp;Start Over</div>
                    </paper-button>
                </div>
                <div class="right-col">
                    <div>
                        Assigned Budget
                    </div>
                    <span>[[totalBudgetLabel]]</span>
                    <div>
                        First Month Promotion
                    </div>
                    <span>- [[promotionLabel]]</span>
                    <div>
                        Total First Month 
                    </div>
                    <span>[[monthlyBudgetWithPromotLabel]]</span>
                </div>
            </div>
        </template>
    <paper-stepper id="stepper" linear avertical
                    alternative-label="false"
                    step-number="{{stepNumber}}"
                    selected="{{currentStep}}"
                    has-back-button>
        <paper-step label="[[groupLabel]]" editable>
            <div class$="[[groupClass]]">
                <template is="dom-if" if="[[isOnline]]">
                <div>
                    <div class="title-group">
                        <h2 class="section-title">eCommerce</h2>
                        <iron-icon class="title-icon" icon="icons:shopping-cart"></iron-icon>
                    </div>
                    <div class="slider-group">
                        <div class="label first">Monthly budget<div class="subtitle">[[onlineBudgetLabel]]</div></div>
                        <paper-slider always-show-pin pin snaps max="[[maximumOnlineBudget]]" min="[[minimumOnlineBudget]]" a-max-markers="10" step="50" value="{{monthlyOnlineBudget}}"></paper-slider>
                        <div class="start">[[formatMoney(minimumOnlineBudget)]]</div>
                        <div class="end">[[formatMoney(maximumOnlineBudget)]]</div>
                    </div>
                    <div class="slider-group">
                        <div class="label">Products advertised<div class="subtitle">[[onlineFilterLabel]]</div></div>
                        <paper-range-slider markers="[0,199,399]" slider-width="99%" class="slider" always-show-pin step="25" value-diff-min="5" value-min="{{onlineFilterMin}}" value-max="{{onlineFilterMax}}" max="2500" min="0"></paper-range-slider>
                        <div class="start bubble">[[minimumProductFiterLabel]]</div>
                        <div class="end bubble">No Limit</div>
                    </div>
                </div>
                <div class="verticalborder">&nbsp;</div>
                </template>
                <template is="dom-if" if="[[isRetail]]">
                <div>
                    <div class="title-group">
                        <h2 class="section-title">Foot Traffic</h2>
                        <iron-icon class="title-icon" icon="icons:store"></iron-icon>
                    </div>
                    <div class="slider-group">
                        <div class="label first">Monthly budget<div class="subtitle">[[retailBudgetLabel]]</div></div>
                        <paper-slider always-show-pin pin snaps max="[[maximumRetailBudget]]" min="[[minimumRetailBudget]]" a-max-markers="10" step="50" value="{{monthlyRetailBudget}}"></paper-slider>
                        <div class="start bubble">[[formatMoney(minimumRetailBudget)]]</div>
                        <div class="end bubble">[[formatMoney(maximumRetailBudget)]]</div>
                    </div>
                    <div class="slider-group">
                        <div class="label">Products advertised<div class="subtitle">[[retailFilterLabel]]</div></div>
                        <paper-range-slider slider-width="99%" class="slider" always-show-pin step="25" value-diff-min="5" value-min="{{retailFilterMin}}" value-max="{{retailFilterMax}}" max="2500" min="0"></paper-range-slider>
                        <div class="start">[[minimumProductFiterLabel]]</div>
                        <div class="end">No Limit</div>
                    </div>
                </div>
                </template>
            </div>
        </paper-step>
        <!-- <paper-step label="Retail Settings" editable hidden$="[[!isRetail]]">
            
        </paper-step> -->
        <paper-step label="Payment">
          <div class="payment-grid">
            <!-- <address-form verbose
                street="{{street}}"
                city="{{city}}"
                state="{{state}}"
                country="{{country}}"
                zip="{{zip}}"
                id="addressForm"
                address-search-url="~/address/find"></address-form>
            <cc-form preview-position="bottom"></cc-form> -->
          </div>
          <!--
          <form>
            <label>
              <input name="cardholder-name" class="field is-empty" placeholder="Jane Doe" />
              <span><span>Name</span></span>
            </label>
            <label>
              <input class="field is-empty" type="tel" placeholder="(123) 456-7890" />
              <span><span>Phone number</span></span>
            </label>
            <label>
              <div id="card-element" class="field is-empty"></div>
              <span><span>Credit or debit card</span></span>
            </label>
            <button type="submit">Pay $25</button>
            <div class="outcome">
              <div class="error" role="alert"></div>
              <div class="success">
                Success! Your Stripe token is <span class="token"></span>
              </div>
            </div>
          </form>
          -->
        </paper-step>
      </paper-stepper>
        </div>
      <!--<paper-button hidden$="[[isStarted]]" on-tap="startStepper" raised>Start</paper-button>
      <paper-button on-tap="toggleVerical" raised>Toggle Vertical</paper-button> -->
      </div>
  </template>

  <script>
    var formatter = new Intl.NumberFormat('en-UK', {
      style: 'currency',
      currency: 'EUR',
      minimumFractionDigits: 0,
      // the default value for minimumFractionDigits depends on the currency
      // and is usually already 2
    });
    Polymer({
      is: 'dynamo-stepper',
            behaviors: [Polymer.NeonAnimatableBehavior],
      properties: {
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'slide-from-right-animation',
                node: this
              },
              'exit': {
                name: 'fade-out-animation',
                node: this
              }
            }
          }
        },
        selected: {
          type: Number,
          value: 0
        },
        onlineFilterMin: {
          type: Number,
          value: 50
        },
        onlineFilterMax: {
          type: Number,
          value: 2000
        },
        currency: {
          type: String,
          value: 'EUR',
          observer: 'currencyChanged'
        },
        formatter: {
          type: Object,
          observer: 'getFormatter(currency)'
        },
        retailFilterMin: {
          type: Number,
          value: 50
        },
        retailFilterMax: {
          type: Number,
          value: 2500
        },
        minimumOnlineBudget: {
          type: Number,
          value: 199
        },
        maximumOnlineBudget: {
          type: Number,
          value: 2999
        },
        minimumRetailBudget: {
          type: Number,
          value: 199
        },
        maximumRetailBudget: {
          type: Number,
          value: 2999
        },
        minimumProductFiter: {
          type: Number,
          value: 0
        },
        minimumProductFiterLabel: {
            type: String,
            computed: 'formatMoney(minimumProductFiter, currency)'
        },
        monthlyRetailBudget: {
          type: Number,
          value: 349
        },
        monthlyOnlineBudget: {
          type: Number,
          value: 349
        },
        promotion: {
          type: Number,
          value: 50
        },
        groupClass: {
            type: String,
            computed: 'getGroupClass(isOnline, isRetail)'
        },
        groupLabel: {
          type: String,
          computed: 'getGroupLabel(isOnline, isRetail)'
        },
        totalBudget: {
          type: Number,
          computed: 'getTotalBudget(isOnline, isRetail, monthlyOnlineBudget, monthlyRetailBudget, currency)'
        },
        totalBudgetLabel: {
          type: String,
          computed: 'formatMoney(totalBudget, currency)'
        },
        onlineBudgetLabel: {
          type: String,
          computed: 'formatMoney(monthlyOnlineBudget, currency)'
        },
        retailBudgetLabel: {
          type: String,
          computed: 'formatMoney(monthlyRetailBudget, currency)'
        },
        promotionLabel: {
          type: String,
          computed: 'formatMoney(promotion, currency)'
        },
        monthlyBudgetWithPromotLabel: {
          type: String,
          computed: 'formatMoney(totalBudgetWithPromotion, currency)'
        },
        onlineFilterLabel: {
          type: String,
          computed: 'getFilteredProductsLabel(onlineFilterMin, onlineFilterMax, currency)'
        },
        retailFilterLabel: {
          type: String,
          computed: 'getFilteredProductsLabel(retailFilterMin, retailFilterMax, currency)'
        },
        totalBudgetWithPromotion: {
            type: Number,
            computed: 'getMonthlyBudgetWithPromo(totalBudget, promotion, currency)'
        },
        _isReady: {
          type: Boolean,
          value: false
        },
        currentStep: {
            type: Number
        },
        selectedOption: {
            type: String,
            value: function() {
                return '';
            }
        },
        isRetail: {
            type: Boolean,
            computed: '_computeIsRetail(selectedOption)'
        },
        isOnline: {
            type: Boolean,
            computed: '_computeIsOnline(selectedOption)'
        },
        showInfo: {
            type: Boolean,
            computed: '_isInfoReady(currentStep)'
        },
        complete: {
            type: Boolean,
            value: false
        }
      },

      getFormatter: function(cur) {
        var res = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: cur,
          minimumFractionDigits: 0,
          // the default value for minimumFractionDigits depends on the currency
          // and is usually already 2
        });
        return res;
      },

      getGroupClass: function(o, r) {
          return (o && r) ? 'budget-group' : 'single';
      },

      getGroupLabel: function(o, r) {
        var label = o && !r ? 'eComm' : '';
        label = r && !o ? 'Retail' : label;
        label = r && o ? 'Campaign' : label;
        return label + ' Settings';
      },

      observers: [
        '_onIsReadyChanged(_isReady)'
      ],

      listeners: {
          'paper-stepper-completed': 'stepperCompleted'
      },

      currencyChanged: function(o, n) {
        
      },

      goBack: function() {
          this.$.stepper.reset();
          this.fire('dynamo-stepper-reset', {});
      },

      stepperCompleted: function() {
          //console.log('Process completed!');
          this.complete = true;
      },

      _isInfoReady: function(step) {
          //console.log(`on step: ${step}`);
          return step >= 0;
      },

      _computeIsRetail: function(option) {
          return option === 'retail' || option === 'both';
      },

      _computeIsOnline: function(option) {
          return option === 'online' || option === 'both';
      },

      onTapItem1: function() {
        this.fire('request-change-page', {
          path: 'detail/1',
          animation: 'forward'
        });
      },

      getTotalBudget: function(isOnline, isRetail, monthlyOnlineBudget, monthlyRetailBudget) {
        var total = 0;
        if (isOnline) total += monthlyOnlineBudget;
        if (isRetail) total += monthlyRetailBudget;
        return total;
      },

      startStepper: function() {
        this.$.stepper.progress();
      },

      toggleVerical: function() {
        this.$.stepper.vertical = !this.$.stepper.vertical;
      },

      _onIsReadyChanged: function(isready) {
        if (isready) {
          //console.log('Is ready is now TRUE');
          //var stepper = this.$.stepper;
          /*this.async(function() {
            console.log(stepper);
            stepper.progress();
          });*/
        }
      },

      getTotalBudgetLabel: function(totalBudget) {
        return this.formatMoney(totalBudget);
      },

      getFilteredProductsLabel: function(min, max) {
        var a = this.formatMoney(min);
        var b = max >= 2500 ? "No Limit" : this.formatMoney(max);
        if (min <= 0 && max < 2500) {
          return `below ${b}`;
        }
        if (min > 0 && max >= 2500) {
          return `above ${a}`;
        }
        if (min <= 0 && max >= 2500) {
          return 'all products';
        }
        return `between ${a} and ${b}`;
      },

      getMonthlyBudgetWithPromo: function(totalBudget, promotion) {
          return totalBudget - promotion;
      },

      formatMoney: function(val) {
        var cur = this.currency || 'EUR';
        var fmt = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: cur,
          minimumFractionDigits: 0,
          // the default value for minimumFractionDigits depends on the currency
          // and is usually already 2
        });
        return fmt.format(val);
      },

      created: function() {
        //console.log(this.localName + '#' + this.id + ' was created');
      },

      ready: function() {
        //console.log(this.localName + '#' + this.id + ' has local DOM initialized');
      },

      attached: function() {
        //console.log(this.localName + '#' + this.id + ' was attached');
        this._isReady = true;
      },

      detached: function() {
        //console.log(this.localName + '#' + this.id + ' was detached');
      },

    });
  </script>
</dom-module>
