<link rel="import" href="../../../lib/polymer/polymer.html">
<link rel="import" href="./dynamo-plan-item.html">

<dom-module id="dynamo-plan-chooser">

  <template>

    <style>
      :host {
        display: block;
        box-sizing: border-box;
        --dynamo-plan-chooser-item-count: 3;
      }

      .title {
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--app-title-color, #424242);
      }
      .subtitle {
        padding: 10px;
        text-align: center;
        color: var(--app-subtitle-color, #626262);
      }
      
      .plan-list {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
      }

      .plan-items {
        background-color: #fff;
        border-radius: var(--app-box-border-radius, 10px);
        box-shadow: var(--app-box-shadow-0) !important; /*0 1px 8px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.397)), 0 0px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.397)), 0 0 20px 0 hsla(0, 0%, 0%, 0.397) !important;*/
        grid-column: 2;
        height: 300px;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(var(--dynamo-plan-chooser-item-count), minmax(150px, 275px));
      }

      .plan-items dynamo-plan-item:not(:first-child) {
        border-left: var(--shadow-color, hsla(0, 0%, 0%, 0.397)) solid 1px;
      }

      h1 {
        background-color: red;
        width: --dynamo-plan-chooser-width;
      }
    </style>
    
    <div class="title">A Package for everyone</div>
    <div class="subtitle">This will become your budget for Google Ads</div>

    <div class="plan-list">
      <div class="plan-items">
        <template is="dom-repeat" items="[[items]]" as="plan">
          <dynamo-plan-item 
              plan-id="[[plan.id]]"
              title="[[plan.name]]"
              description="[[plan.description]]" 
              cost="[[plan.cost]]"
              frequency="[[plan.frequency]]"
              default="[[isDefaultPlan(plan.id)]]"
              on-dynamo-plan-item-selected="planSelected"></dynamo-plan-item>
        </template>
      </div>
    </div>

  </template>

  <script>
    Polymer({
      is: 'dynamo-plan-chooser',
      behaviors: [Polymer.NeonAnimatableBehavior],
      properties: {
        /**
         * A  test property to show off the docs.
        **/
        items: {
          type: Array,
          value: function() {
            return [];
          }
        },
        defaultPlan: {
          type: Number,
          value: 2
        },
        itemCount: {
          type: Number,
          value: 0
        },
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'slide-from-right-animation',
                node: this
              },
              'exit': {
                name: 'fade-out-animation',
                node: this
              }
            }
          }
        },

      },

      observers: [
        'itemsChanged(items.*)'
      ],

      isDefaultPlan: function(id) {
        return this.defaultPlan == id;
      },

      itemsChanged: function(items) {
        if (items.path == 'items.length') {
          console.log('Items changed:');
          console.log(items.value);
          this.updateStyles({'--dynamo-plan-chooser-item-count': `${items.value}`});
        }
      },

      planSelected: function(e) {
        console.log(e.detail);
      },
      /**
       * Called when the element has been created, but before property values
       * are set and local DOM is initialized. Use for one-time set-up
       * before property values are set.
      **/
      created: function() {

      },

      /**
       * Called after property values are set and local DOM
       * is initialized. Use for one-time configuration of your
       * component after local DOM is initialized.
      **/
      ready: function() {

      },

      /**
       * Life cycle function that gets called when the element is
       * first attached to the DOM
      **/
      attached: function () {

      },

      /**
       * Called after the element is detached from the document.
       * Can be called multiple times during the lifetime of an element.
       * Uses include removing event listeners added in
      **/
      detached: function () {

      },


      /**
       * Called when one of the element's attributes is changed.
       * Use to handle attribute changes that don't correspond
       * to declared properties.
      **/
      attributeChanged: function () {

      },

      /**
       * ### Events
      **/

      /**
       * Fired when dynamo-plan-chooser does something
       *
       * @event dynamo-plan-chooser-action
      **/

    });
  </script>
</dom-module>
